name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v1 # Substitui pnpm/action-setup e actions/setup-node
        with:
          bun-version: 1.2.15

      - name: Install
        run: bun install # Substitui pnpm install

      - name: Lint
        run: bun run lint # Substitui pnpm run lint

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.2.15

      - name: Install
        run: bun install

      - name: Typecheck
        run: bun run typecheck
